<?php

/** Connexion BDD */
const DB_DSN    = 'mysql:host=localhost;dbname=blog;charset=UTF8';
const DB_USER   = 'root';
const DB_PASS   = '';

/** Application Directory and URL */
const REP_BLOG      = 'YOUR DIRECTORY (ex : /home/var/www/blog/)';
const URL_BLOG      = 'URL BLOG FRONT (ex : http://localhost/blog/';
const REP_UPLOAD    = 'uploads/';